.stateLayout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stateTitle {
  font-size: .8rem;
  /* height: 2rem; */
  width: 60px;
  color: #333;
  text-align: left;
}

.stateToggle {
  height: 2rem;
  color: #333;
  font-size: .8rem;
  text-align: left;
  background-color: rgb(248, 248, 248);
  border-radius: 0;
  border-color: rgb(248, 248, 248);
}

.stateToggle:hover {
  color: #333;
  background-color: white;
  border-color: rgb(234, 234, 234);
}

.stateToggle:active {
  color: #333;
  border: 1px solid #0d6efd;
  background-color: white;
  box-shadow: none;
}

.stateToggle:focus {
  color: #333;
  border: 1px solid #0d6efd;
  background-color: white;
  box-shadow: none;
}

.stateDropDownMenu {
  font-size: .8rem;
  color: #333;
  border-radius: 0;
}

