@media screen and (max-width: 768px) {
  #summaryRightColumn {
    padding-left: 0;
  }
}

.projectVisibilityBtn {
  width: 6rem;
  height: 2rem;
  color: var(--text-color-primary);
  font-size: .875rem;
  font-weight: 600;
  background-color: var(--bg-color-primary);
  border: none;
  border-radius: 3px;
  padding: .2rem .4rem;
  margin: 0 .2rem;
}

.projectVisibilityBtn:hover {
  color: var(--text-color-primary);
  background-color: var(--bg-color-secondary);
}

.projectInviteBtn {
  width: 6rem;
  height: 2rem;
  font-size: .875rem;
  font-weight: 600;
  background-color: var(--communication-color-background);
  border: none;
  border-radius: 3px;
  padding: .2rem .4rem;
  margin: 0 .2rem;
}

.projectInviteBtn:hover {
  background-color: var(--communication-color-hover);
}

.overviewContainer {
  background-color: var(--bg-color-tabs);
  padding: 1.5rem 1.8rem;
}

.card {
  padding: 0;
  border: none;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
}

.cardTitle {
  width: auto;
  line-height: 2rem;
  margin-bottom: 0;
}

.cardSubtitle {
  font-size: .875rem;
  font-weight: 400;
  line-height: 4rem;
}

.cardAlert {
  border: none;
  border-radius: 0;
  margin-bottom: 0;
}

.aboutEditBtn {
  color: var(--text-color-primary);
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  padding: 0;
  margin-right: 1rem;
  background-color: white;
  border: none;
  border-radius: 2px;
}

.aboutEditBtn:hover {
  color: var(--text-color-primary);
  background-color: var(--bg-color-basic);
}

.aboutEditBtn:focus {
  color: var(--text-color-primary);
  background-color: var(--bg-color-basic);
}

.periodSwitch {
  display: inline-block;
  width: auto;
}

.periodToggle {
  font-size: .875rem;
  color: var(--text-color-primary);
  background-color: var(--bg-color-basic);
  border: 0;
  border-radius: 2px;
}

.periodToggle:hover {
  color: var(--text-color-primary);
  background-color: var(--bg-color-basic);
}

.periodToggle:focus {
  color: var(--text-color-primary);
  background-color: var(--bg-color-basic);
}

.memberCount {
  display: inline-block;
  width: auto;
  height: 24px;
  line-height: 24px;
  font-size: .825rem;
  font-weight: 400;
  color: var(--text-color-disabled);
  text-align: center;
  border-radius: 10px;
  background-color: var(--bg-color-panel);
  padding: 0 .825rem;
  margin-left: .325rem;
}

.itemLabel {
  font-weight: 600;
  color: var(--text-color-primary);
}

.itemInput {
  border-radius: 2px;
  border: 1px solid var(--text-color-primary);
}

.projectAboutRepo {
  width: 100%;
  color: var(--text-color-primary);
  text-align: left;
  background-color: white;
  border: 1px solid var(--bg-color-secondary);
  border-radius: 2px;
  padding: .2rem .4rem;
}

.projectAboutRepo:hover {
  background-color: white;
  color: var(--text-color-primary);
  border: 1px solid var(--text-color-disabled);
}

.projectAboutRepo:focus {
  background-color: white;
  color: var(--text-color-primary);
  border: 1px solid var(--text-color-disabled);
}

.addTagBtn {
  background-color: var(--bg-color-highlight);
  color: var(--text-color-primary);
  font-size: .7rem;
  border-color: var(--bg-color-highlight);
  border-radius: 0;
  padding: 5px;
}

.addTagBtn:hover {
  background-color: var(--bg-color-hoverlight);
  color: var(--text-color-primary);
  border-color: var(--bg-color-hoverlight);
}

.addTagBtn:focus {
  background-color: var(--bg-color-hoverlight);
  color: var(--text-color-primary);
  border-color: var(--bg-color-hoverlight);
  box-shadow: none;
}

.modalSubtitle {
  font-size: .875rem;
  font-weight: 400;
  color: var(--text-color-disabled);
}

.addToTeam {
  width: 100%;
  color: var(--text-color-primary);
  text-align: left;
  background-color: white;
  border: 1px solid var(--text-color-primary);
  border-radius: 2px;
  padding: .2rem .4rem;
}

.memberInfoTip {
  position: relative;
  background-color: rgba(255, 100, 100, 0.85);
  padding: 2px 10px;
  color: white;
  border-radius: 3;
}

.cancelBtn {
  border-radius: 0;
  background-color: var(--bg-color-basic);
}

.saveBtn {
  color: var(--text-color-disabled);
  border-radius: 0;
  background-color: var(--bg-color-basic);
}