.projectsContainer {
  background-color: var(--bg-color-tabs);
  padding: 2rem;
  margin: 0;
}

.userNameTitle {
  width: auto;
  font-size: 1.25rem;
  font-weight: 600;
}

.createProjectBtn {
  width: 8rem;
  height: 2rem;
  padding: 0;
  font-size: .875rem;
  line-height: 2rem;
  border: none;
  border-radius: 0;
  background-color: var(--communication-color-background);
}

.createProjectBtn:hover {
  background-color: var(--communication-color-hover);
}

.projectNav {
  color: var(--text-color-primary);
}

/* .projectModalDialog {
  position: fixed;
  right: 1rem;
  background-color: white;
} */

.itemLabel {
  font-size: .875rem;
  color: var(--text-color-primary);
}

.itemInput {
  /* height: 1.75rem; */
  line-height: 1.5rem;
  border-radius: 2px;
  border: 1px solid var(--text-color-disabled);
}

.projectVisibility {
  background-color: var(--bg-color-panel);
  padding: 1rem;
  border: 2px solid var(--bg-color-panel);
  border-radius: 2px;
}

.projectVisibility:hover {
  border: 2px solid var(--communication-color-background);
}

.projectVisibility:active {
  border: 2px solid var(--communication-color-background);
}

.visibilityTitle {
  font-size: .875rem;
  color: var(--text-color-primary);
}

.visibilityDescription {
  font-size: .75rem;
  color: var(--text-color-disabled);
}

.advancedBtn {
  font-weight: 600;
  color: var(--text-color-primary);
  background-color: var(--bg-color-panel);
  border: 1px solid var(--bg-color-panel);
  border-radius: 0;
}

.advancedBtn:hover {
  font-weight: 600;
  color: var(--text-color-primary);
  background-color: var(--bg-color-tabs);
  border: 1px solid var(--bg-color-tabs);
}

.projectAdvancedItem {
  width: 100%;
  color: var(--text-color-primary);
  font-size: .875rem;
  text-align: left;
  background-color: white;
  border: 1px solid var(--text-color-primary);
  border-radius: 2px;
  padding: .375rem .725rem;
}

.projectAdvancedItem:hover {
  color: var(--text-color-primary);
  background-color: white;
  border: 1px solid var(--text-color-primary);
}

.projectAdvancedItem:focus {
  color: var(--text-color-primary);
  background-color: white;
  border: 1px solid var(--text-color-primary);
}