@media screen and (max-width: 768px) {
  #itemsFilters {
    display: none;
  }
  
}

@media screen and (min-width: 768px) {
  #itemsFilters {
    display: inline-flex;
  }
}

.itemTableSearch {
  width: 100%;
  background-color: var(--bg-color-basic);
  border: 1px solid var(--bg-color-basic);
  border-radius: 0;
}

.itemTableSearch:focus {
  background-color: var(--bg-color-basic);
  border: 1px solid var(--bg-color-basic);
  box-shadow: none;
}

.filterDropdown {
  display: inline;
}

.filters {
  font-size: .9rem;
  color: var(--text-color-secondary);
  background-color: var(--bg-color-basic);
  border: none;
  border-radius: 0;
}

.filters:hover {
  color: var(--text-color-secondary);
  background-color: var(--bg-color-secondary);
  border-radius: 0;
  box-shadow: none;
}

.filters:focus {
  color: var(--text-color-secondary);
  background-color: var(--bg-color-secondary);
}

.filters:active {
  color: var(--text-color-secondary);
  background-color: var(--bg-color-secondary);
}

.filtersMenu {
  font-size: .8rem;
  color: var(--text-color-primary);
  border: none;
  border-radius: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tableRow {
  font-size: .8rem;
  color: var(--text-color-primary);
  font-weight: 200;
  height: 2rem;
  border-bottom: 1px solid var(--bg-color-primary);
}

.tableBody {
  font-size: .9rem;
  color: var(--text-color-primary);
  font-weight: 400;
}