.detailTabs {
    background-color: var(--bg-color-tabs);
    font-size: .8rem; 
}

.nav-tabs {
  background-color: var(--bg-color-tabs);
  font-size: .8rem; 
}

.detailTab {
  color: var(--text-color-primary); 
  border: 1px solid var(--bg-color-tabs);
  background-color: white;
}

.detailTab:hover {
  color: var(--text-color-primary);
  background-color: white;
}

.detailItemTitle {
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 0 0 0;
}

.detailItemDivider {
  height: 1px;
  width: 100%;
  background-color: var(--bg-color-primary);
}


.detailInputPH {
  margin: 6px 0;
  border: 1px solid white;
  border-radius: 0;
  font-size: .9rem;
}

.detailInputPH:focus {
  margin: 6px 0;
  border: 1px solid var(--bg-color-borderlight);
  box-shadow: none;
}

.detailTitle {
  font-size: .8rem;
  color: var(--text-color-disabled);
  margin-bottom: 0;
}

.detailToggle {
  height: 1.8rem;
  width: 100%;
  padding: 2px 5px;
  color: var(--text-color-primary);
  font-size: .9rem;
  text-align: left;
  justify-content: center;
  border-radius: 0;
  border: 1px solid white;
  background-color: white;
  box-shadow: none;
}

.detailToggle:hover {
  color: var(--text-color-primary);
  border: 1px solid var(--bg-color-primary);
  background-color: white;
  box-shadow: none;
}

.detailToggle:active {
  color: var(--text-color-primary);
  border: 1px solid var(--bg-color-primary);
  background-color: white;
  box-shadow: none;
}

.detailToggle:focus {
  color: var(--text-color-primary);
  border: 1px solid var(--bg-color-borderlight);
  background-color: white;
  box-shadow: none;
}

.detailDropDownMenu {
  border-radius: 0;
  width: 100%;
  border: 1px solid var(--bg-color-primary);
  color: var(--text-color-primary);
  font-size: .9rem;
}

.detailInput {
  border: 1px solid white;
  border-radius: 0;
  height: 1.8rem;
  width: 100%;
  padding: 2px 5px;
  color: var(--text-color-primary);
  font-size: .9rem;
  box-shadow: none;
}

.detailInput:hover {
  border: 1px solid var(--bg-color-primary);
  box-shadow: none;
}

.detailInput:focus {
  border: 1px solid var(--bg-color-borderlight);
  box-shadow: none;
}

.detailItem {
  margin-top: 4px;
}

.detailLinkBtn {
  text-decoration: none;
  font-size: .8rem;
  color: var(--text-color-primary);
  padding: 3px;
  margin-top: 6px;
  border-radius: 0;
}

.detailLinkBtn:hover {
  color: var(--text-color-primary);
  background-color: var(--bg-color-hoverlight);
}

.detailLinkToggle {
  font-size: .8rem;
  border-radius: 0;
  color: var(--text-color-primary);
  background-color: white;
  border: 1px solid white;
  padding: 3px;
  margin-top: 6px;
}

.detailLinkToggle:hover {
  color: var(--text-color-primary);
  background-color: var(--bg-color-hoverlight);
  border: 1px solid var(--bg-color-hoverlight);
}

.detailPanel {
  background-color: var(--bg-color-panel);
  font-size: .8rem;
  padding: 12px;
  margin-top: 6px;
}

.detailPanelText {
  margin-bottom: 0;
}