.itemTypeText {
  height: 1rem;
  line-height: 1rem;
  font-size: .75rem;
  padding-left: 1rem;
  width: auto;
}

.itemReqText {
  height: 1rem;
  line-height: 1rem;
  font-size: .875rem;
  color: red;
  width: auto;
}
.createItemTitle {
  height: 40px;
  border: none;
  border-radius: 0;
}

.createItemTitle:focus {
  height: 40px;
  border: 1px solid #0d6efd;
  border-radius: 0;
  box-shadow: none;
}

.detailToggle {
  height: 2rem;
  width: 100%;
  font-size: .9rem;
  color: var(--text-color-primary);
  text-align: left;
  background-color: white;
  border-color: white;
  border-radius: 0;
}

.detailToggle:hover {
  background-color: white;
  border-color: var(--bg-color-primary);
}

.detailDropDownMenu {
  border-radius: 0;
  font-size: .8rem;
  color: var(--text-color-primary);
}

.commentBtn {
  font-size: .9rem;
  text-decoration: none;
  color: var(--text-color-primary);
}

.commentBtn:focus {
  box-shadow: none;
}

.commentBtn:active {
  box-shadow: none;
}

.addTagBtn {
  background-color: var(--bg-color-highlight);
  color: var(--text-color-primary);
  font-size: .7rem;
  border-color: var(--bg-color-highlight);
  border-radius: 0;
  padding: 5px;
}

.addTagBtn:hover {
  background-color: var(--bg-color-hoverlight);
  color: var(--text-color-primary);
  border-color: var(--bg-color-hoverlight);
}

.addTagBtn:focus {
  background-color: var(--bg-color-hoverlight);
  color: var(--text-color-primary);
  border-color: var(--bg-color-hoverlight);
  box-shadow: none;
}

.detailSaveBtn {
  background-color: var(--bg-color-primary);
  border-color: var(--bg-color-primary);
  border-radius: 0;
  font-size: .9rem;
  color: var(--text-color-disabled);
  padding: 5px;
  margin: 0 2.5px;
  width: 40px;
}

.detailSaveBtn:hover {
  background-color: var(--bg-color-primary);
  border-color: var(--bg-color-primary);
  border-radius: 0;
  font-size: .9rem;
  color: var(--text-color-disabled);
  padding: 5px;
}

.detailSaveBtn:focus {
  background-color: var(--bg-color-primary);
  border-color: var(--bg-color-primary);
  color: var(--text-color-disabled);
  box-shadow: none;
}

.hotDisableBtn {
  color: var(--text-color-disabled);
  background-color: white;
  height: 28px;
  width: 28px;
  padding: 5px;
  margin: 0 2.5px;
  font-size: .9rem;
  border-radius: 0;
  border-color: white;
}

.hotDisableBtn:hover {
  color: var(--text-color-disabled);
  background-color: white;
  font-size: .9rem;
  border-radius: 0;
  border-color: white;
}

.hotDisableBtn:focus {
  color: var(--text-color-disabled);
  background-color: white;
  border-color: white;
  box-shadow: none;
}

.moreOpts {
  color: var(--text-color-primary);
  height: 28px;
  width: 28px;
  padding: 5px;
  margin: 0 2.5px;
  background-color: white;
  border-radius: 0;
  border-color: white;
}

.moreOpts:hover {
  color: var(--text-color-primary);
  background-color: var(--bg-color-hoverlight);
  border-color: var(--bg-color-hoverlight);
}

.moreOpts:focus {
  color: var(--text-color-primary);
  background-color: var(--bg-color-borderlight);
  border-color: var(--bg-color-borderlight);
}
