@media screen and (max-width: 768px) {
  #desktopHeader :only-child{
    display: none;
  }
  .navBarContainer .tabletHeaderBurger {
    display: block;
  }
}

.tabletHeaderBurger {
  display: none;
  width: 2rem;
  padding: 0;
  margin-right: .5rem;
  border-radius: 0;
  border: 1px solid white;
}

.tabletHeaderBurger:focus {
  background-color: white;
  border: 1px solid white;
}

.navBar {
  border-bottom: 1px solid var(--bg-color-basic);
}

.navBarContainer {
  padding: 0 .8rem;
}

.searchInput {
  width: 12rem;
  height: 2rem;
  font-size: .8rem;
  border: 1px solid black;
  border-radius: 0;
}

.searchInput:focus {
 box-shadow: none;
}

.logText {
  text-decoration: none;
  color: grey;
}