body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --text-color-primary: #333;
  --text-color-secondary: rgba(0, 0, 0, .55);
  --text-color-disabled: rgb(170, 170, 170);
  --bg-color-primary: rgb(234, 234, 234);
  --bg-color-secondary: rgb(226, 226,226);
  --bg-color-basic: rgb(240, 240, 240);
  --bg-color-panel: rgb(244, 244, 244);
  --bg-color-tabs: rgb(248, 248, 248);
  --bg-color-highlight: rgb(239, 246, 252);
  --bg-color-hoverlight: rgb(222, 236, 249);
  --bg-color-borderlight: #0d6efd;
  --communication-color-background: #0078D4;
}

/* list page >> list options */

.listFaqOptions {
  font-size: .9rem;
  color:var(--text-color-primary);
  }

.listFaqOptions:hover {
  font-size: .9rem;
  color: var(--text-color-primary);
  background-color: var(--bg-color-primary);
  border-color: var(--bg-color-primary);
  border-radius: 0;
}

.listFaqOptions:focus {
  font-size: .9rem;
  color:var(--text-color-primary);
  background-color: var(--bg-color-primary);
  border-color: var(--bg-color-primary);
  border-radius: 0;
}

.listFaqMenu {
  font-size: .9rem;
  color: var(--text-color-primary);
  font-weight: 400;
  border: none;
  border-radius: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.listOptionsBtn {
  font-size: .9rem;
  color:var(--text-color-primary);
  font-weight: 400;
  border-radius: 0;
  background-color: white;
  border: none;
}

.listOptionsBtn:hover {
  background-color: var(--bg-color-primary);
}

.listOptionsBtn:focus {
  background-color: var(--bg-color-primary);
  box-shadow: none;
}

.listShortcutBtn {
  width: 40px;
  font-size: .9rem;
  color:var(--text-color-primary);
  font-weight: 400;
  border-radius: 0;
  background-color: white;
  border: none;
}

.listShortcutBtn:hover {
  background-color: var(--bg-color-primary);
}

.listShortcutBtn:focus {
  background-color: var(--bg-color-primary);
  box-shadow: none;
}
